# Copy this file to .env and fill in your values
OPENROUTER_API_KEY=your_openrouter_api_key_here

# Optional: override the default model
# MODEL=openai/gpt-oss-120b:free
# MODEL=nex-agi/nex-n2-pro:free ## specializing in coding, tool use, and autonomous task execution
# MODEL=google/gemma-4-31b-it:free
# MODEL=moonshotai/kimi-k2.6:free ## designed for long-horizon coding, coding-driven UI/UX generation, and multi-agent
# MODEL=openrouter/free ## randomnly selects free model
